<h1>👷 Projects 🚧</h1>

<section class="projects">
  <h2>
    <a href="httsp://space.reen.me">Solar system simulation</a>
  </h2>
  <p class="tech">
    <span>TypeScript</span> &bull;
    <span>Canvas API</span>
  </p>
  <p>
     N-body physics simulation and exploration of game development techniques.
  </p>

  <h2>
    <a href="https://flashcards.fyi">flashcards.fyi</a>
  </h2>
  <p class="tech">
    <span>TypeScript</span> &bull;
    <span>Preact</span>
  </p>
  <p>
    Simple flashcard application. I'm planning on revisiting this to add
    serverless persistence (currently everything lives in localStorage), and to
    evaluate more formal approaches to local-first applications, for example,
    <a href="https://tanstack.com/db/latest">Tanstack DB</a>, and
    <a href="https://zero.rocicorp.dev/">Zero</a>.
  </p>

  <h2>
    <a href="https://tmux.reen.me">Interactive tmux cheatsheet</a>
  </h2>
  <p class="tech">
    <span>TypeScript</span> &bull;
    <span>Preact</span>
  </p>
  <p>
    Something something.
  </p>

  <h2>
    <a href="https://webteam.reen.me">Webteam party game</a>
  </h2>
  <p class="tech">
    <span>Ruby</span> &bull;
    <span>Sinatra</span> &bull;
    <span>Claude Code</span>
  </p>
  <p>
    Something something.
  </p>
</section>
