<h1>Projects</h1>

<div class="projects">
  <section>
    <h2>
      <a href="https://tmux.reen.me">Interactive tmux cheatsheet</a>
    </h2>
    <p class="tech">
      <span>TypeScript</span> &bull;
      <span>Preact</span>
    </p>
    <img src="/images/tmux-cheatsheet.png" alt="screenshot of application showing virtual keyboard" />
    <p>
      Displays a virtual keyboard with tmux bindings marked. Responds to
      keyboard events to show which tmux binding would be activated. Care was
      taken to minimise unnecessary re-renders in order maintain performance,
      even when mashing the keyboard.
    </p>
  </section>

  <section>
    <h2>
      <a href="https://flashcards.fyi">flashcards.fyi</a>
    </h2>
    <p class="tech">
      <span>TypeScript</span> &bull;
      <span>Preact</span>
    </p>
    <img src="/images/flashcards.png" alt="screenshot of application showing flashcards of national flags" />
    <p>
      Simple flashcard application. I'm planning on revisiting this to add
      serverless persistence (currently everything lives in localStorage), and
      to try out some more formal approaches to local-first applications, for
      example, <a href="https://tanstack.com/db/latest">Tanstack DB</a>, or
      <a href="https://zero.rocicorp.dev/">Zero</a>.
    </p>
  </section>

  <section>
    <h2>
      <a href="https://space.reen.me">Solar system simulation</a>
    </h2>
    <p class="tech">
      <span>TypeScript</span> &bull;
      <span>Canvas API</span>
    </p>
    <img src="/images/space-canvas.png" alt="screenshot of application showing the moon orbiting the earth" />
    <p>
       N-body physics simulation and exploration of game development techniques.
    </p>
  </section>

  <section>
    <h2>
      <a href="https://webteam.reen.me">Spaceteam-inspired party game</a>
    </h2>
    <p class="tech">
      <span>Ruby</span> &bull;
      <span>Sinatra</span> &bull;
      <span>Claude Code</span>
    </p>
    <img src="/images/webteam.png" alt="screenshot of game showing control panel" class="bright" />
    <p>
      This multiplayer game was created at Ruby Retreat 2025 to try out some
      different methods of organising the output of LLM tools.
    </p>
  </section>
</div>
