@import "input_sans_italic";

.cv
{
  ul
  {
    margin-bottom: 2em;
  }

  dt
  {
    display: inline-block;
    width: 5em;
    vertical-align: top;
  }

  dd
  {
    display: inline-block;
    font-style: italic;
  }

  h2
  {
    font-size: 18px;
    font-family: "InputMono";
  }
}
