@font-face
{
  font-family: "Input";
  src: url('../fonts/InputMonoNarrow-Regular.woff2') format('woff2'),
       url('../fonts/InputMonoNarrow-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: "Input";
  src: url('../fonts/InputMonoNarrow-Bold.woff2') format('woff2'),
       url('../fonts/InputMonoNarrow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
