@font-face
{
  font-family: "InputSans";
  src: url('../fonts/InputSansNarrow-Italic.woff2') format('woff2'),
       url('../fonts/InputSansNarrow-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
