<%# <h1>CURRICULUM VITÆ</h1> %>

<%# <ul class="no-bullets"> %>
<%#   <li>Timothy Reen</li> %>
<%#   <li><a href="mailto:tim@reen.me">tim@reen.me</a></li> %>
<%#   <li><a href="http://reen.me">www.reen.me</a></li> %>
<%#   <li><a href="tel:+61 421 933 098">+61 421 933 098</a></li> %>
<%# </ul> %>

<%# <h2>SKILLS &amp; TECHNOLOGIES</h2> %>

<%# <ul> %>
<%#   <li>Test-driven Ruby on Rails.</li> %>
<%#   <li>HTML5, CSS3, JavaScript, CoffeeScript, jQuery, AngularJS.</li> %>
<%#   <li>Ubuntu, AWS, Vagrant, ElasticSearch, Redis.</li> %>
<%# </ul> %>

<%# <h2>EXPERIENCE</h2> %>

<%# <dl> %>
<%#   <dt>2015-16</dt> %>
<%#   <dd>NettHQ (BeBu Pty Ltd)</dd> %>
<%# </dl> %>

<%# <ul> %>
<%#   <li>Lead developer on new Rails application, building a business-oriented social network.</li> %>
<%#   <li>Worked closely with founder to shape product.</li> %>
<%#   <li>Introduced Agile methodologies, led team through iteration planning, retrospectives, etc.</li> %>
<%# </ul> %>

<%# <dl> %>
<%#   <dt>2015</dt> %>
<%#   <dd>Telstra Digital (through FinXL IT Professional Services Pty Ltd)</dd> %>
<%# </dl> %>

<%# <ul> %>
<%#   <li>Lead developer for ‘Idea Accelerator’ team: created interactive prototypes and proof-of-concepts for executive team.</li> %>
<%#   <li>Conducted quantitative and qualitative user-testing through face-to-face interviews, and online automated testing.</li> %>
<%#   <li>Facilitated design sprints and adoption of Agile methodologies.</li> %>
<%# </ul> %>

<%# <dl> %>
<%#   <dt>2012-15</dt> %>
<%#   <dd>Flippa.com Pty Ltd</dd> %>
<%# </dl> %>

<%# <ul> %>
<%#   <li>Initial front-end role transitioning into a full-stack Rails role.</li> %>
<%#   <li>Took responsibility for dev-ops: managing of AWS instances, ensuring uptime of high-traffic web application.</li> %>
<%#   <li>Automated creation of development and staging environments.</li> %>
<%# </ul> %>

<%# <dl> %>
<%#   <dt>2014</dt> %>
<%#   <dd>Project: GoFossilFree.org.au %>
<%#   </dd> %>
<%# </dl> %>

<%# <ul> %>
<%#   <li>Created a new Rails app with Angular front-end used by call-centre staff, with API integration to NationBuilder CRM service.</li> %>
<%# </ul> %>

<%# <dl> %>
<%#   <dt>2013</dt> %>
<%#   <dd>Project: joshcohen.com.au</dd> %>
<%# </dl> %>

<%# <ul> %>
<%#   <li>Reduced homepage load times from 60s to ~5s through use of Amazon CloudFront CDN.</li> %>
<%# </ul> %>

<%# <dl> %>
<%#   <dt>2012</dt> %>
<%#   <dd>Learnable Pty Ltd</dd> %>
<%# </dl> %>

<%# <ul> %>
<%#   <li>Responsible for creation of ‘Jumpcast’ (brief video tutorial) site section: Rails development and content production.</li> %>
<%# </ul> %>

<%# <dl> %>
<%#   <dt>2012</dt> %>
<%#   <dd>SitePoint Group Pty Ltd: <br /> Graduate Programme (Wave Digital, SitePoint, Flippa, Learnable).</dd> %>
<%# </dl> %>

<%# <ul> %>
<%#   <li>Prototyped VicRoads road closures &amp; traffic alerts mobile map application.</li> %>
<%#   <li>Responsive web design &amp; development of Australia Post online storefront.</li> %>
<%#   <li>CSS implementation of Flippa.com full-site redesign.</li> %>
<%# </ul> %>

<%# <dl> %>
<%#   <dt>2010-12</dt> %>
<%#   <dd>E-Counting Pty Ltd</dd> %>
<%# </dl> %>

<%# <ul> %>
<%#   <li>Cleansed and migrated client accounting data from MYOB to either Xero or Netsuite ERP.</li> %>
<%#   <li>Provided Netsuite support to clients; developed Netsuite extensions in JavaScript.</li> %>
<%#   <li>Project management of accounting practice management software delivery.</li> %>
<%# </ul> %>

<%# <dl> %>
<%#   <dt>2007</dt> %>
<%#   <dd>National Training Pty Ltd</dd> %>
<%# </dl> %>

<%# <ul> %>
<%#   <li>Windows system administration.</li> %>
<%#   <li>Ran Payroll for 100+ employees.</li> %>
<%#   <li>Extracted data from legacy accounting software (claimed to be impossible by vendor).</li> %>
<%#   <li>Visual Basic development to automate highly time consuming accounting tasks.</li> %>
<%# </ul> %>

<%# <h2>EDUCATION</h2> %>

<%# <dl> %>
<%#   <dt>2008-11</dt> %>
<%#   <dd>University of Melbourne</dd> %>
<%# </dl> %>

<%# <ul> %>
<%#   <li>Bachelor of Arts in Political Science and French</li> %>
<%# </ul> %>

<%# <h2>REFERENCES</h2> %>

<%# <p> %>
<%# 	Available on request %>
<%# </p> %>
