<div class="header">
  <h1>
    Timothy Reen
  </h1>

  <p>
    Web developer based in Melbourne, Australia. Say
    <a href="mailto:tim@reen.me?subject=Hello!">hello</a>!
  </p>

  <p>
    <img src="/images/photo.jpg" alt="" class="round" />
  </p>

  <ul>
    <li><a href="mailto:tim@reen.me" class="fa fa-envelope" aria-hidden="true"></a></li>
    <li><a href="https://twitter.com/reentim" class="fa fa-twitter" aria-hidden="true"></a></li>
    <li><a href="https://github.com/reentim" class="fa fa-github" aria-hidden="true"></a></li>
    <li><a href="https://www.flickr.com/photos/96019399@N04/" class="fa fa-flickr" aria-hidden="true"></a></li>
    <li><a href="https://www.instagram.com/reentim" class="fa fa-instagram" aria-hidden="true"></a></li>
  </ul>

</div>
