<div class="header">
  <h1>
    Timothy Reen
  </h1>

  <p>
    Web developer based in Melbourne, Australia. Say
    <a href="mailto:tim@reen.me?subject=Hello!">hello</a>!
  </p>

  <p>
    <img src="/images/photo.jpg" alt="Picture of me. It's a mirror selfie." class="round" />
  </p>

  <ul>
    <li><a href="mailto:tim@reen.me" class="fa fa-envelope"></a></li>
    <li><a href="https://github.com/reentim" class="fa fa-github"></a></li>
  </ul>
</div>
